body {
    font-family: Arial, Verdana, sans-serif;
}

.one {
    background-color:red;
}

.two {
    background-color: green;
}

.three {
    background-color: blue;
}

#slots {
    width: auto;
    float: inherit;
    border-radius: inherit;
    min-height: 300px;
    min-width: 500px;
}

#spin {
    background-color: lightgreen;
}

input[type="text"] {
    min-width: 300px;
    min-height: 500px;
}